html, body {
 background-color: #4f4f4f;
}

.sidenav a{
  text-decoration: none;
  color: #e4e2e2;
  font-size: 20px;
}

.sidenav{
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: left;
  align-items: center;
  background-color: #424248;
  flex-direction: column;
  position: fixed;
  gap: 20px;
  top:0px;
  font-size: 20px;
}

.sidenav img{
  width: 75%;
  border-radius: 50%;
}

.ddcontent{
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

button{
  background-color: transparent;
  color: #e4e2e2;
  border:none;
  font-size: 20px;
  transition-duration: 1s;
}

button:hover{
  background-color: transparent;
  color: #6c777f;
  cursor:pointer
}
.main{
  display: flex;
  justify-content: flex-end;
  width: 78%;
  flex-wrap: wrap;
  float: right;
  margin: 10px 30px 10px 5px;
}
.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: soild;
  background-color: white;
  margin: 10px;
  width: 30%;
}
.gallery img{
  width: 100%;
}
.gallery a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.contact{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}
.about{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

.Resume{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}